name: Lab2 actions

on:
 push:
  branches:
   - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
     matrix:
      node-version: [20, 21]

    steps:
    - name: Checkout nodejs
      uses: actions/checkout@v6

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '25'
        cache: 'npm' 

    - name: install dependencies
      run: npm ci

    - name: run test
      run: npm test